<ion-header-bar align-title="center" class="bar-positive">
	<h1 class="title">Filter</h1>
</ion-header-bar>
<ion-content>
	<div class="list">
		<div class="item item-divider">Order</div>
		<ion-checkbox ng-model="newOrder.reverse">Reverse order</ion-checkbox>
		<div class="item item-divider">Filter by</div>
		<label class="item item-input item-floating-label">
			<span class="input-label">Name</span>
			<input type="text" placeholder="Name" ng-model="newFilter.name[lang]">
		</label>
		<label class="item item-input item-select">
			<div class="input-label">Flavor</div>
			<select ng-model="newFilter.properties.flavor" ng-options="flavor.value as flavor.label for flavor in flavors">
			</select>
		</label>
		<div class="item item-divider">Rich in</div>
		<label class="item item-input item-select">
			<div class="input-label">Vitamin</div>
			<select ng-model="newFilter.nutrition_facts.vitamins" ng-options="vitamin.value as vitamin.label for vitamin in vitamins">
			</select>
		</label>
		<label class="item item-input item-select">
			<div class="input-label">Minerals</div>
			<select ng-model="newFilter.nutrition_facts.minerals" ng-options="mineral.value as mineral.label for mineral in minerals">
			</select>
		</label>
	</div>
</ion-content>
<ion-footer-bar align-title="left">
	<div class="button-bar">
		<button class="button button-stable button-clear" ng-click="resetFilter()">Reset</button>
		<button class="button button-balanced button-clear" ng-click="applyFilter()">Apply</button>
	</div>
</ion-footer-bar>