<ion-modal-view>
	<ion-header-bar class="bar-balanced">
		<h1 class="title" translate>You've just tried {{item.name[lang]}}!</h1>
	</ion-header-bar>
	<ion-content>
		<div class="list card">
			<div class="item item-body">
				<h3 translate>Do you like it?</h3>
				<p translate>Please rate it and leave some comment about it. It'll help other people to choose their drinks!</p>
				<rating-buttons ng-model="data.rate"></rating-buttons>
				<translate>You'll rate it with</translate> <translate translate-n="data.rate" translate-plural="{{$count}} stars!">1 star!</translate>
				<textarea placeholder="{{'Comment' | translate}}" rows="2" ng-model="data.comment"></textarea>
				<div class="button-bar">
					<button class="button button-stable" ng-click="cancel()" translate>Cancel</button>
					<button class="button button-balanced" ng-click="save()" translate>Save</button>
				</div>
			</div>
		</div>
	</ion-content>
</ion-modal-view>