<ion-view title="{{item.name[lang]}}">
	<ion-nav-buttons side="left">
		<button class="button button-icon ion-chevron-left" ui-sref="menu.ingredients"></button>
	</ion-nav-buttons>

	<ion-content>
		<div class="list card">
			<div class="item item-body">
				<div class="item-buttons">
					<button
						class="button button-icon button-clear button-stable"
						ng-click="drinksWith(item); $event.stopPropagation();"><i class="icon ion-ios-pint"></i></button>
				</div>
				<img class="card-image" ng-src="{{'/images/menu/' + item.id + '.png'}}">
			</div>
			<div class="item item-divider" ng-show="item.properties">
				<translate>Properties</translate>
			</div>
			<div class="item" ng-show="item.properties && item.properties.flavor">
				<strong><translate>Flavor</translate>:</strong> {{item.properties.flavor | join:', '}}
			</div>
			<div class="item item-divider" ng-show="item.nutrition_facts">
				<translate>Nutrition Facts</translate>
			</div>
			<div class="item" ng-show="item.nutrition_facts && item.nutrition_facts.energy">
				<strong><translate>Energy</translate>:</strong> {{item.nutrition_facts.energy | join:', '}} kcal
			</div>
			<div class="item" ng-show="item.nutrition_facts && item.nutrition_facts.carbohydrates">
				<strong><translate>Carbohydrates</translate>:</strong> {{item.nutrition_facts.carbohydrates | join:', '}} g
			</div>
			<div class="item" ng-show="item.nutrition_facts && item.nutrition_facts.fat">
				<strong><translate>Fat</translate>:</strong> {{item.nutrition_facts.fat | join:', '}} g
			</div>
			<div class="item" ng-show="item.nutrition_facts && item.nutrition_facts.protein">
				<strong><translate>Protein</translate>:</strong> {{item.nutrition_facts.protein | join:', '}} g
			</div>
			<div class="item item-body" ng-show="item.nutrition_facts && item.nutrition_facts.vitamins">
				<strong><translate>Vitamins</translate>:</strong> {{item.nutrition_facts.vitamins | join:', '}}
			</div>
			<div class="item item-body" ng-show="item.nutrition_facts && item.nutrition_facts.minerals">
				<strong><translate>Minerals</translate>:</strong> {{item.nutrition_facts.minerals | join:', '}}
			</div>
			<div class="item item-divider" ng-show="item.description.en">
				<translate>Description</translate>
			</div>
			<div class="item item-body" ng-show="item.description[lang]">
				{{item.description[lang]}}
			</div>
			<div class="item item-body" ng-show="!item.description[lang] && item.description.en">
				{{item.description.en}}
			</div>
			<a class="item item-icon-right" ng-show="item.wiki.en" ng-click="wiki(item.wiki)">
				<translate>Open on Wikipedia</translate>
				<i class="icon icon-wikipedia"></i>
			</a>
		</div>
	</ion-content>
</ion-view>