<header align-title="center" class="bar bar-header bar-positive">
	<h1 class="title" translate>Filter</h1>
</header>
<ion-content class="has-header">
	<div class="list">
		<label class="item item-input item-select">
			<span class="input-label" translate>Order by</span>
			<select ng-model="newOrder.by" ng-options="order.value as order.label for order in orderBy">
			</select>
		</label>
		<div class="item item-checkbox">
			<label class="checkbox">
				<input type="checkbox" ng-model="newOrder.reverse">
			</label>
			<translate>Reverse order</translate>
		</div>
		<div class="item item-divider" translate>Filter by</div>
		<label class="item item-input item-floating-label">
			<span class="input-label" translate>Name</span>
			<input type="text" placeholder="{{'Name' | translate}}" ng-model="newFilter.name['$']">
		</label>
		<label class="item item-input item-select">
			<span class="input-label" translate>Tasted</span>
			<select ng-model="newFilter.isTried">
				<option value="" ng-selected translate>All</option>
				<option value="true" translate>Yes</option>
				<option value="false" translate>No</option>
			</select>
		</label>
		<label class="item item-input item-select">
			<span class="input-label" translate>Bookmarked</span>
			<select ng-model="newFilter.isSaved">
				<option value="" ng-selected translate>All</option>
				<option value="true" translate>Yes</option>
				<option value="false" translate>No</option>
			</select>
		</label>
		<label class="item item-input item-select">
			<span class="input-label" translate>Flavor</span>
			<select ng-model="newFilter.properties.flavor" ng-options="flavor.value as flavor.label for flavor in flavors">
			</select>
		</label>
		<label class="item item-input item-select">
			<span class="input-label" translate>Density</span>
			<select ng-model="newFilter.properties.density" ng-options="density.value as density.label for density in densities">
			</select>
		</label>
		<label class="item item-input item-select">
			<span class="input-label" translate>Ingredient</span>
			<select ng-model="newFilter.ingredients" ng-options="ingredient.id as ingredient.name[lang] for ingredient in ingredients">
			</select>
		</label>
	</div>
</ion-content>
<ion-footer-bar align-title="left">
	<div class="button-bar">
		<button class="button button-dark button-clear" ng-click="resetFilter()" translate>Reset</button>
		<button class="button button-balanced button-clear" ng-click="applyFilter()" translate>Apply</button>
	</div>
</ion-footer-bar>