<ion-view title="{{item.name[lang]}}">
	<ion-nav-buttons side="left">
		<button class="button button-icon ion-chevron-left" ui-sref="menu.drinks"></button>
	</ion-nav-buttons>

	<ion-content>
		<div class="list card">
			<div class="item item-body">
				<div>
					<span class="item-price"><strong>Rs.</strong> {{item.price | number}}</span>
					<div class="item-buttons">
						<button
							class="button button-icon button-clear"
							ng-class="{'button-stable': !item.isTried, 'button-balanced': item.isTried}"
							ng-disabled="item.isTried"
							ng-click="toTry(item); $event.stopPropagation();"><fa name="check" size="large"></fa></button>
						<button
							class="button button-icon button-clear"
							ng-class="{'button-stable': !item.isSaved, 'button-positive': item.isSaved}"
							ng-click="toSave(item); $event.stopPropagation();"><fa name="bookmark" size="large"></fa></button>
					</div>
					<img class="card-image" ng-src="{{'/images/menu/' + item.id + '.png'}}">
				</div>
				<div ng-controller="InfoTabsCtrl">
					<div class="item tabs tabs-secondary tabs-icon-top secondary-tabs-in-item tabs-positive">
						<a class="tab-item" href ng-click="setTab('info')"
						   ng-class="{active: isSet('info')}">
							<i class="icon ion-information-circled"></i>
							Info
						</a>
						<a class="tab-item" href ng-click="setTab('rate')"
						   ng-class="{active: isSet('rate')}">
							<i class="icon ion-ios7-people"></i>
							<fa name="star"></fa>{{item.rate.rate|number:1}} <fa name="comment"></fa> {{item.totalComments}}
						</a>
					</div>
					<div ng-show="isSet('info')">
						<ul class="list list-in-tabs">
							<div class="item item-divider" ng-show="item.properties">
								Properties
							</div>
							<li class="item" ng-show="item.properties.flavor">
								Flavor: {{item.properties.flavor | join:', '}}
							</li>
							<li class="item" ng-show="item.properties.density">
								Density: {{item.properties.density | join:', '}}
							</li>
							<div class="item item-divider">
								Ingredients
							</div>
							<li ng-repeat="ingredient in ingredients | filter:usedIngredients | orderBy:'name'" class="item-thumbnail-left item item-complex">
									<a class="item-content" ui-sref="menu.ingredients.item({id: ingredient.id})">
										<img ng-src="{{'/images/menu/small/' + ingredient.id + '.png'}}">
										<h2 class="vert-centred">{{ingredient.name[lang]}}</h2>
									</a>
									<div class="list-buttons">
										<button
											class="button button-icon button-clear button-stable"
											ng-click="drinksWith(ingredient); $event.stopPropagation();"><i class="icon ion-ios-pint"></i></button>
									</div>
							</li>
						</ul>
					</div>
					<div ng-show="isSet('rate')">
						<rating-view data-rate="item.rate"></rating-view>
						<blockquote ng-repeat="comment in item.comments">{{comment}}</blockquote>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>