<ion-view title="{{item.name[lang]}}">
	<ion-nav-buttons side="left">
		<button class="button button-icon ion-chevron-left" ui-sref="menu.drinks"></button>
	</ion-nav-buttons>

	<ion-content>
		<div class="list card">
			<div class="item item-body">
				<span class="item-price"><strong>Rs.</strong> {{item.price | number}}</span>

				<div class="item-buttons">
					<button
						class="button button-icon button-clear"
						ng-class="{'button-stable': !item.isTried, 'button-balanced': item.isTried}"
						ng-disabled="item.isTried"
						ng-click="toTry(item); $event.stopPropagation();">
						<fa name="check" size="large"></fa>
					</button>
					<button
						class="button button-icon button-clear"
						ng-class="{'button-stable': !item.isSaved, 'button-positive': item.isSaved}"
						ng-click="toSave(item); $event.stopPropagation();">
						<fa name="bookmark" size="large"></fa>
					</button>
				</div>
				<img class="card-image" ng-src="{{'/images/menu/' + item.pic + '.png'}}">
			</div>
			<div ng-controller="InfoTabsCtrl">
				<div class="item tabs tabs-secondary tabs-icon-top secondary-tabs-in-item tabs-positive">
					<a class="tab-item" href ng-click="setTab('info')"
					   ng-class="{active: isSet('info')}">
						<i class="icon ion-information-circled"></i>
						<translate>Info</translate>
					</a>
					<a class="tab-item" href ng-click="setTab('rate')"
					   ng-class="{active: isSet('rate')}">
						<i class="icon ion-ios7-people"></i>
						<fa name="star"></fa>
						{{item.rate.rate|number:1}}
						<fa name="comment"></fa>
						{{item.totalComments}}
					</a>
				</div>
				<div ng-show="isSet('info')">
					<div class="item sm-padding">
						&nbsp;
					</div>
					<div class="item item-divider" ng-show="item.properties">
						<translate>Properties</translate>
					</div>
					<div class="item" ng-show="item.properties.flavor">
						<strong><translate>Flavor</translate>:</strong> {{item.properties.flavor | join:', '}}
					</div>
					<div class="item" ng-show="item.properties.density">
						<strong><translate>Density</translate>:</strong> {{item.properties.density | join:', '}}
					</div>
					<div class="item item-divider">
						<translate>Ingredients</translate>
					</div>
					<div ng-repeat="ingredient in ingredients | filter:usedIngredients | orderBy:'name'"
					     class="item-thumbnail-left item item-complex">
						<a class="item-content" ui-sref="menu.ingredients.item({id: ingredient.id})">
							<img class="list-image" ng-src="{{'/images/menu/' + ingredient.id + '.png'}}">

							<h2 class="vert-centred">{{ingredient.name[lang]}}</h2>
						</a>

						<div class="list-buttons">
							<button
								class="button button-icon button-clear button-stable"
								ng-click="drinksWith(ingredient); $event.stopPropagation();"><i class="icon ion-ios-pint"></i></button>
						</div>
					</div>
				</div>
				<div ng-show="isSet('rate')">
					<div class="item">
						<rating-view data-rate="item.rate"></rating-view>
					</div>
					<div class="item item-divider" ng-show="item.totalComments">
						<translate>Comments</translate>
					</div>
					<div class="item item-avatar" ng-repeat="comment in item.comments" ng-show="item.totalComments">
						<img ng-src="{{account.avatar(comment)}}">
						<h2>{{comment.profile.name}}</h2>
						<p>{{comment.comment}}</p>
					</div>
					<div class="item" ng-show="item.totalComments && (item.totalComments > item.comments.length)">
						<button class="button button-block button-stable" translate>More</button>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>