<ion-view title="{{item.name[lang]}}">
	<ion-nav-buttons side="left">
		<button class="button button-icon ion-chevron-left" ui-sref="menu.drinks"></button>
	</ion-nav-buttons>

	<ion-content>
		<div class="list card">
			<div class="item item-body">
				<div class="item-price">
					<span>250<span translate>ML</span> - Rs.<strong>{{item.price250 | number}}</strong></span>
					<br/>
					<span ng-show="item.price500">500<span translate>ML</span> - Rs.<strong>{{item.price500 | number}}</strong></span>
				</div>

				<div class="item-buttons">
					<button
						class="button button-icon button-clear"
						ng-class="{'button-stable': !item.isTried, 'button-balanced': item.isTried}"
						ng-disabled="item.isTried"
						ng-click="internetCall(toTry, item); $event.stopPropagation();">
						<fa name="check" size="large"></fa>
					</button>
					<button
						class="button button-icon button-clear"
						ng-class="{'button-stable': !item.isSaved, 'button-positive': item.isSaved}"
						ng-click="internetCall(toSave, item); $event.stopPropagation();">
						<fa name="bookmark" size="large"></fa>
					</button>
				</div>
				<div class="card-image-div" ng-if="item.ingredients.length === 2"
				     style="background: url({{'/images/menu/' + item.ingredients[0] + '.png'}}),
				      url({{'/images/menu/' + item.ingredients[1] + '.png'}});
				      background-size: 65% 65%, 65% 65%;
				      background-repeat: no-repeat, no-repeat;
				      background-position: 0px 100%, 100% 0px;
				      background-origin: border-box;"></div>
				<img class="card-image" ng-if="item.ingredients.length === 1" ng-src="{{'/images/menu/' + item.ingredients[0] + '.png'}}">
			</div>
			<div ng-controller="InfoTabsCtrl">
				<div class="item tabs tabs-secondary tabs-icon-top secondary-tabs-in-item tabs-positive">
					<a class="tab-item" href ng-click="setTab('info'); trackEvent('tabs', 'change', 'Info');"
					   ng-class="{active: isSet('info')}">
						<i class="icon ion-information-circled"></i>
						<translate>Info</translate>
					</a>
					<a class="tab-item" href ng-click="setTab('rate'); trackEvent('tabs', 'change', 'Rate');"
					   ng-class="{active: isSet('rate')}">
						<i class="icon ion-ios7-people"></i>
						<fa name="star"></fa>
						{{item.rate.rate|number:1}}
						<fa name="comment"></fa>
						{{item.totalComments}}
					</a>
				</div>
				<div ng-show="isSet('info')">
					<div class="item sm-padding">
						&nbsp;
					</div>
					<div class="item" ng-show="lang !== 'en'">
						{{item.name.en}}
					</div>
					<div class="item item-divider" ng-show="item.properties">
						<translate>Properties</translate>
					</div>
					<div class="item" ng-show="item.properties.flavor">
						<strong><translate>Flavor</translate>:</strong> {{item.properties.flavor | join:', '}}
					</div>
					<div class="item" ng-show="item.properties.density">
						<strong><translate>Density</translate>:</strong> {{item.properties.density | join:', '}}
					</div>
					<div class="item item-divider">
						<translate>Ingredients</translate>
					</div>
					<div ng-repeat="ingredient in ingredients | filter:usedIngredients | orderBy:'name'"
					     class="item-thumbnail-left item item-complex">
						<a class="item-content item-80" ui-sref="menu.ingredients.item({id: ingredient.id})">
							<img class="list-image" ng-src="{{'/images/menu/' + ingredient.id + '.png'}}">

							<h2 class="vert-centred">{{ingredient.name[lang]}}</h2>
							<p ng-show="lang !== 'en'">{{ingredient.name.en}}</p>
						</a>

						<div class="list-buttons">
							<button
								class="button button-icon button-clear button-stable"
								ng-click="drinksWith(ingredient); $event.stopPropagation();"><i class="icon ion-ios-pint"></i></button>
						</div>
					</div>
				</div>
				<div ng-show="isSet('rate')">
					<div class="item">
						<rating-view data-rate="item.rate"></rating-view>
					</div>
					<div class="item item-divider" ng-show="item.totalComments">
						<translate>Comments</translate>
					</div>
					<div class="item item-avatar full-text" ng-repeat="comment in item.comments | orderBy:comment.posted_at:true" ng-show="item.totalComments">
						<img ng-src="{{account.avatar(comment)}}">
						<div class="block">
							<h2 class="pull-left">{{comment.profile.name}}</h2>
							<span class="pull-right note">{{comment.posted_at | date:'MMM d, yyyy':'+0530'}}</span>
						</div>
						<p ng-bind="comment.comment"></p>
					</div>
					<div class="item" ng-show="item.totalComments && (item.totalComments > item.comments.length)">
						<button class="button button-block button-stable" ng-click="internetCall(moreComments, item)" translate>More</button>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>