ion-nav-view {
    background-color: #ffffff;
}

.card-image-wrapper {
    box-shadow: 0 0 3px rgba(0, 0, 0, .15);
}

.card-image {
    display: block;
    width: 75%;
    max-width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.list-image {
    width: 80px;
    height: 80px;
}

.item-in-list {
    width: 100%;
    border-right: 0;
}

.item-buttons {
    position: absolute;
    top: 5px;
    right: 11px;
    z-index: 15;
}

.item-price {
    position: absolute;
    top: 21px;
    left: 16px;
    z-index: 15;
    font-size: 1.33333333em;
    line-height: .75em;
}

.list-buttons {
    position: absolute;
    top: 23px;
    right: 12px;
    z-index: 15;
}

.item-buttons button:disabled, .list-buttons button:disabled {
    opacity: 1;
}

.list-in-tabs {
    padding-top: 20px;
}

.secondary-tabs-in-item {
    -webkit-box-shadow: 0 3px 2px -2px rgba(0, 0, 0, .15) !important;
    -moz-box-shadow: 0 3px 2px -2px rgba(0, 0, 0, .15) !important;
    box-shadow: 0 3px 2px -2px rgba(0, 0, 0, .15) !important;
}

.vert-centred {
    line-height: 80px;
    height: 80px;
}

.sm-padding {
    line-height: 10px;
    height: 10px;
    margin: 0;
    padding: 0;
}

.logo {
    width : 100%;
    height : 100%;
}

.logo img {
    width: 96px;
    height: 96px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: -18px;
    display:block;
}

.full-text h1, .full-text h2, .full-text h3, .full-text h4, .full-text h5, .full-text h6, .full-text p {
    text-overflow: clip;
    white-space: normal;
}

.text-block {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
    width:80%;
}