<ion-view title="AVM Cream House">
	<ion-nav-buttons side="left">
		<button class="button button-icon ion-navicon" menu-toggle="left"></button>
	</ion-nav-buttons>

	<ion-content>
		<div class="list card">
			<a class="item item-image" ng-click="openMap()">
				<img src="/images/about/map.png">
			</a>
			<div class="item item-body">
				<p>
					<strong>AVM Cream House</strong> <translate>is a cafe opposite the bus station in the Weligama town centre.</translate>
				</p>
				<p translate>
					Here you will find a huge range of drinks from any fresh fruit, as well as delicious local dishes.
				</p>
			</div>
			<div class="item item-divider item-icon-left">
				<i class="icon ion-android-time"></i>
				<translate>Open hours</translate>
			</div>
			<div class="item full-text">
				<translate>Everyday from 6:30 till 21:00</translate>
				<p translate>except Fridays from 11:30 till 13:30</p>
			</div>
			<div class="item item-divider item-icon-left">
				<i class="icon ion-location"></i>
				<translate>Location</translate>
			</div>
			<a class="item item-icon-right" ng-click="openMap()">
				3 Samaraweera Place
				<p>Weligama, Sri Lanka</p>
				<i class="icon ion-map"></i>
			</a>
			<div class="item item-divider item-icon-left">
				<i class="icon ion-person"></i>
				<translate>Contacts</translate>
			</div>
			<a class="item item-icon-right" ng-click="callTo('+94414904546')">
				+94414904546
				<i class="icon ion-android-call"></i>
			</a>
			<a class="item item-icon-right" ng-click="mailTo('avmfresh1@yahoo.com')">
				avmfresh1@yahoo.com
				<i class="icon ion-at"></i>
			</a>
			<a class="item item-icon-right" ng-click="mailTo('avmfresh1@gmail.com')">
				avmfresh1@gmail.com
				<i class="icon ion-at"></i>
			</a>
			<div class="item item-divider item-icon-left">
				<i class="icon ion-android-share-alt"></i>
				<translate>Social</translate>
			</div>
			<a class="item item-icon-right" ng-click="foursquare()">
				Foursquare
				<i class="icon ion-social-foursquare"></i>
			</a>
			<a class="item item-icon-right" ng-click="googleplus()">
				Google Plus
				<i class="icon ion-social-googleplus"></i>
			</a>
			<a class="item item-icon-right" ng-click="tripadvisor()">
				TripAdvisor
				<i class="icon icon-tripadvisor"></i>
			</a>
			<a class="item item-icon-right" ng-click="lonelyplanet()">
				LonelyPlanet
			<i class="icon ion-earth"></i>
			</a>
		</div>
	</ion-content>
</ion-view>