<ion-view title="AVM Cream House">
	<ion-nav-buttons side="left">
		<button class="button button-icon ion-navicon" menu-toggle="left"></button>
	</ion-nav-buttons>

	<ion-content>
		<div class="list card">
			<a class="item item-image" ng-click="openMap()">
				<img src="/images/about/map.png">
			</a>
			<div class="item item-body">
				<p>
					<strong>AVM Cream House</strong> is a cafe opposite the bus station in the Weligama town centre.
				</p>
				<p>
					There's a huge range of fresh fruit flavours and tasty local food.
				</p>
			</div>
			<div class="item item-divider item-icon-left">
				<i class="icon ion-android-time"></i>
				Open hours
			</div>
			<div class="item">
				Everyday from 6:30 to 21:00
				<p>except on Fridays from 11:30 to 13:30</p>
			</div>
			<div class="item item-divider item-icon-left">
				<i class="icon ion-location"></i>
				Location
			</div>
			<a class="item item-icon-right" ng-click="openMap()">
				3 Samaraweera Place
				<p>Weligama, Sri Lanka</p>
				<i class="icon ion-map"></i>
			</a>
			<div class="item item-divider item-icon-left">
				<i class="icon ion-person"></i>
				Contacts
			</div>
			<a class="item item-icon-right" ng-click="callTo('+94414904546')">
				+94414904546
				<i class="icon ion-android-call"></i>
			</a>
			<a class="item item-icon-right" ng-click="mailTo('avmfresh1@yahoo.com')">
				avmfresh1@yahoo.com
				<i class="icon ion-at"></i>
			</a>
			<a class="item item-icon-right" ng-click="mailTo('avmfresh1@gmail.com')">
				avmfresh1@gmail.com
				<i class="icon ion-at"></i>
			</a>
			<div class="item item-divider item-icon-left">
				<i class="icon ion-android-share-alt"></i>
				Social
			</div>
			<a class="item item-icon-right" ng-click="foursquare()">
				Foursquare
				<i class="icon ion-social-foursquare"></i>
			</a>
			<a class="item item-icon-right" ng-click="googleplus()">
				Google Plus
				<i class="icon ion-social-googleplus"></i>
			</a>
			<a class="item item-icon-right" ng-click="tripadvisor()">
				TripAdvisor
				<i class="icon icon-tripadvisor"></i>
			</a>
			<a class="item item-icon-right" ng-click="lonelyplanet()">
				LonelyPlanet
			<i class="icon ion-earth"></i>
			</a>
		</div>
	</ion-content>
</ion-view>