<ion-view>
	<ion-content>
		<div class="logo">
			<img src="/images/common/logo.png">
		</div>
		<div class="list list-inset">
			<div class="item item-borderless full-text text-center text-block">
				<h3 translate>AVM Cream House App helps you choose your next drink!</h3>
			</div>
			<label class="item item-input">
				<i class="icon ion-at placeholder-icon"></i>
				<input type="email" placeholder="{{'Email' | translate}}" ng-model="data.email">
			</label>
		</div>
		<div class="padding">
			<button class="button button-block button-positive" ng-click="internetCall(forget)" translate>Reset password</button>
		</div>
	</ion-content>
</ion-view>
<ion-footer-bar align-title="center" ui-sref="auth.login">
	<div class="title" translate>Log In</div>
</ion-footer-bar>