<ion-view>
	<ion-content>
		<div class="list list-inset">
			<div class="item item-body">
				<img class="avatar-image" src="/images/common/logo.png">
			</div>
			<label class="item item-input">
				<i class="icon ion-at placeholder-icon"></i>
				<input type="email" placeholder="{{'Email' | translate}}" ng-model="data.email">
			</label>
			<label class="item item-input">
				<i class="icon ion-locked placeholder-icon"></i>
				<input type="password" placeholder="{{'Password' | translate}}" ng-model="data.password">
			</label>
		</div>
		<div class="padding">
			<button class="button button-block button-positive" ng-click="login()" translate>Log In</button>
		</div>
		<div class="padding">
			<a ui-sref="forget" translate>Forget your password?</a>
		</div>
	</ion-content>
</ion-view>
<ion-footer-bar align-title="center" ui-sref="signup">
	<div class="title" translate>Join AVM Cream House</div>
</ion-footer-bar>