<ion-view>
	<ion-content>
		<div class="logo">
			<img src="/images/common/logo.png">
		</div>
		<div class="list list-inset">
			<div class="item item-borderless full-text text-center text-block">
				<h3 translate>AVM Cream House App helps you choose your next drink!</h3>
			</div>
			<form name="form" novalidate>
				<label class="item item-input">
					<i class="icon ion-person placeholder-icon"></i>
					<input type="text" placeholder="{{'Username' | translate}}" name="name" ng-model="data.name" ng-required="true" ng-minlength="3" ng-pattern="/^[a-zA-Z]+[a-zA-Z ]*[a-zA-Z]+$/">
				</label>
				<label class="item item-input">
					<i class="icon ion-at placeholder-icon"></i>
					<input type="email" placeholder="{{'Email' | translate}}" name="email" ng-model="data.email" ng-required="true">
				</label>
				<label class="item item-input">
					<i class="icon ion-locked placeholder-icon"></i>
					<input type="password" placeholder="{{'Password' | translate}}" name="password" ng-model="data.password" ng-minlength="4" ng-required="true">
				</label>
			</form>
		</div>
		<div class="padding">
			<button class="button button-block button-positive" ng-click="internetCall(signup, form)" translate>Sign Up</button>
			<button class="button button-block button-clear button-stable button-small" ui-sref="auth.login" translate>Have an account? Log In</button>
		</div>
	</ion-content>
</ion-view>