<ion-header-bar align-title="center" class="bar-positive">
	<h1 class="title">Filter</h1>
</ion-header-bar>
<ion-content>
	<div class="list">
		<label class="item item-input item-select">
			<div class="input-label">Order by</div>
			<select ng-model="newOrder.by" ng-options="order.value as order.label for order in orderBy">
			</select>
		</label>
		<ion-checkbox ng-model="newOrder.reverse">Reverse order</ion-checkbox>
		<div class="item item-divider">Filter by</div>
		<label class="item item-input item-floating-label">
			<span class="input-label">Name</span>
			<input type="text" placeholder="Name" ng-model="newFilter.name[lang]">
		</label>
		<label class="item item-input item-select">
			<div class="input-label">Tasted</div>
			<select ng-model="newFilter.isTried">
				<option value="" ng-selected>All</option>
				<option value="true">Yes</option>
				<option value="false">No</option>
			</select>
		</label>
		<label class="item item-input item-select">
			<div class="input-label">Bookmarked</div>
			<select ng-model="newFilter.isSaved">
				<option value="" ng-selected>All</option>
				<option value="true">Yes</option>
				<option value="false">No</option>
			</select>
		</label>
		<label class="item item-input item-select">
			<div class="input-label">Flavor</div>
			<select ng-model="newFilter.properties.flavor" ng-options="flavor.value as flavor.label for flavor in flavors">
			</select>
		</label>
		<label class="item item-input item-select">
			<div class="input-label">Density</div>
			<select ng-model="newFilter.properties.density" ng-options="density.value as density.label for density in densities">
			</select>
		</label>
		<label class="item item-input item-select">
			<div class="input-label">Ingredient</div>
			<select ng-model="newFilter.ingredients" ng-options="ingredient.id as ingredient.name[lang] for ingredient in ingredients">
			</select>
		</label>
	</div>
</ion-content>
<ion-footer-bar align-title="left">
	<div class="button-bar">
		<button class="button button-stable button-clear" ng-click="resetFilter()">Reset</button>
		<button class="button button-balanced button-clear" ng-click="applyFilter()">Apply</button>
	</div>
</ion-footer-bar>