<ion-view title="Drinks">
	<ion-nav-buttons side="left">
		<button class="button button-icon ion-navicon" menu-toggle="left"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button button-icon ion-ios7-search-strong" menu-toggle="right"></button>
	</ion-nav-buttons>
	<ion-content has-tabs>
		<div class="item-thumbnail-left item item-complex item-in-list"
		     collection-repeat="item in items | filter:search.filter | orderBy:search.order.by:search.order.reverse track by item.id"
		     collection-item-width="'100%'"
		     collection-item-height="100">
			<a class="item-content" ui-sref="tabs.drinks.item({id: item.id})">
				<img ng-src="{{'/images/small/' + item.id + '.png'}}">
				<h2>{{item.name[lang]}}</h2>
				<h4><i class="icon ion-android-star"></i> {{item.rate.rate | number:1}} (<i class="icon ion-person"></i> {{item.rate.based | number}}) <i class="icon ion-ios-chatbubble"></i> {{item.totalComments | number}}</h4>
				<h3><strong>Rs.</strong> {{item.price | number}}</h3>
			</a>
			<div class="list-buttons">
				<button
					class="button button-icon button-clear"
					ng-class="{'button-stable': !item.isTried, 'button-balanced': item.isTried}"
					ng-disabled="item.isTried"
					ng-click="toTry(item); $event.stopPropagation();"><fa name="check" size="large"></fa></button>
				<button
					class="button button-icon button-clear"
					ng-class="{'button-stable': !item.isSaved, 'button-positive': item.isSaved}"
					ng-click="toSave(item); $event.stopPropagation();"><fa name="bookmark" size="large"></fa></button>
			</div>
		</div>
	</ion-content>
</ion-view>